<div class="container__big-card">
  <div class="big-card__photo">
      <img
      src="https://cdn.folhape.com.br/upload/dn_arquivo/2022/07/whatsapp-image-2022-07-06-at-161114.jpg"
      alt=""
      height="200px"
      srcset=""
      >
  </div>

  <div class="big-card__title">
     <h1><a href="#">Saiu a nova versão do Angular</a></h1>
  </div>

  <div class="big-card__description">
    <p><a href="#">
      Israel é uma nação singular, rica em história e cultura, situada no coração do Oriente Médio. Com uma herança que remonta a milênios, Israel é frequentemente considerado como a terra prometida para o povo judeu, com Jerusalém como sua capital espiritual.
      </a>
    </p>
  </div>

</div>
